<navbar></navbar>

<div class="row" style="margin-top: 50px">

    <h2>User Profile: {{vm.user.name}}</h2>

    <h3>Roles</h3>
    <span class="label label-success lb-role" ng-repeat="role in vm.user.roles">{{role}}</span>


    <h3 ng-if="vm.isCourier()">Turnovers</h3>
    <span ng-if="vm.isCourier() && !vm.showTurnovers()">no entries</span>

    <!-- TODO do direktivy -->
    <table class="table table-striped" ng-if="vm.isCourier() && vm.showTurnovers()">
        <thead>
        <tr>
            <th>Created</th>
            <th>Courier</th>
            <th>Profit</th>
            <th>Consignment count</th>
            <th>Message</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="turnover in vm.turnovers">
            <td>{{turnover.created}}</td>
            <td>{{turnover.courierName}}</td>
            <td>{{turnover.profit}}</td>
            <td>{{turnover.consignmentCount}}</td>
            <td><a uib-popover="{{turnover.message}}" popover-title="Message">Message</a></td>
        </tr>
        </tbody>
    </table>

</div>