<navbar></navbar>

<div class="row" style="margin-top: 50px">
  <h2>Consignment</h2>  
  <table class="table table-striped"> 
    <thead> 
      <tr>
        <th>Pickup contact</th>
        <th>Pickup address</th>
        <th>Delivery contact</th>
        <th>Delivery address</th> 
        <th>Product</th> 
        <th>Code</th>
        <th>Price</th>
        <th>Packages</th>
        <th>Customer</th>
        <th>Courier</th>
        <th>Order state</th>
      </tr>
    </thead> 
    <tbody>
      <tr ng-repeat="order in vm.orders">
        <td>{{order.pickup.name}}, tel: {{order.pickup.telephone}}</td>
        <td>{{order.pickup.street}} {{order.pickup.houseNumber}}, {{order.pickup.city}} {{order.pickup.postalcode}}</td>
        <td>{{order.delivery.name}}, tel: {{order.delivery.telephone}}</td>
        <td>{{order.delivery.street}} {{order.delivery.houseNumber}}, {{order.delivery.city}} {{order.delivery.postalcode}}</td>
        <td>{{order.productName}}</td>
        <td>{{order.code}}</td>
        <td>{{order.price}}</td>
        <td>{{order.packages.length}}x</td>
        <td>{{order.customerName}}</td>
        <td>{{order.courierName}}</td>
        <td>{{order.state}}</td>
      </tr>
    </tbody>
  </table>


</div>