<navbar></navbar>

<div class="row" style="margin-top: 50px">
  <div class="row commands">
     <div class="col-md-6"><a class="btn btn-success" ng-click="vm.newUser()"> New user</a>
  </div>
  </div>  
  <h2>Users</h2>  
  <table class="table table-striped"> 
    <thead> 
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Courier Fee</th>
        <th>Roles</th>
        <th>Actions</th> 
      </tr>
    </thead> 
    <tbody>
      <tr ng-repeat="user in vm.users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.fee}}</td>
        <td><span class="label label-success lb-role" ng-repeat="role in user.roles">{{role}}</span></td>
        <td>
          <a class="btn btn-sm btn-warning" ng-click="vm.editUser(user.id)">Edit</a>
          <a disabled class="btn btn-sm btn-danger" ng-click="vm.deleteUser(user.id)">Delete</a>
        </td>
      </tr> 
    </tbody>
  </table>

</div>