<navbar></navbar>

<div class="row" style="margin-top: 50px">
<h2>Courier turnovers</h2>

    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <div class="form-group">
                    <label for="input-pickup-date-from" class="col-sm-2 control-label">Date from:</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="input-pickup-date-from" ng-model="vm.fromDate">
                    </div>
                </div>
                <br>
                <!-- pickup date-to -->
                <div class="form-group">
                    <label for="input-pickup-date-to" class="col-sm-2 control-label">Date to:</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="input-pickup-date-to" ng-model="vm.toDate">
                    </div>
                </div>
                <br>
                <a ng-click="vm.generate()" class="btn btn-warning">Generate turnovers</a>
            </fieldset>
        </div>
    </div>


    <!-- TODO do direktivy -->
<table class="table table-striped"> 
    <thead> 
      <tr>
        <th>Time</th>
        <th>Courier</th>
        <th>Profit</th>
        <th>Consignment count</th>
        <th>Message</th> 
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="turnover in vm.turnovers">
        <td>{{turnover.created}}</td>
        <td>{{turnover.courierName}}</td>
        <td>{{turnover.profit}}</td>
        <td>{{turnover.consignmentCount}}</td>
        <td><a uib-popover="{{turnover.message}}" popover-title="Message">Message</a></td>
      </tr> 
    </tbody>
  </table>
</div>