<div class="modal-header">
  <h3 class="modal-title">{{vm.modal.title}}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" name="userForm" ng-submit="vm.save()" novalidate>
      <!-- name -->
      <div class="form-group">
        <label for="input-user-name" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-user-name" ng-model="vm.user.name">
        </div>
      </div>
      <!-- email -->
      <div class="form-group">
        <label for="input-user-email" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-user-email" ng-model="vm.user.email">
        </div>
      </div>
      <!-- telephone -->
      <div class="form-group">
        <label for="input-user-telephone" class="col-sm-2 control-label">Telephone:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-user-telephone" ng-model="vm.user.phoneNumber">
        </div>
      </div>
      <div class="form-group">
          <label for="input-user-fee" class="col-sm-2 control-label">Courier fee:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="input-user-fee" ng-model="vm.user.fee">
          </div>
      </div>
      <!-- password -->
      <div class="form-group" ng-show="vm.user.id == undefined">
        <label for="input-user-password" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="input-user-password" ng-model="vm.user.password">
        </div>
      </div>   
      <!-- roles -->
      <div class="form-group">
        <label for="input-user-telephone" class="col-sm-2 control-label">Roles:</label>
        <div class="col-sm-10">
          <label ng-repeat="role in vm.roles" class="user-role">
            <input type="checkbox" checklist-model="vm.user.roles" checklist-value="role"> {{role}}
          </label>
        </div>
      </div>      
  </form>  
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok()">{{vm.modal.button}}</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
     