<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="app.userprofile">Messe</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-show="nav.showFor('operator')">
                    <a ui-sref="app.consignment">Consignment</a>
                </li>
                <li ng-show="nav.showFor('operator')">
                    <a ui-sref="app.operator.order-create">Operator</a>
                </li>
                <li ng-show="nav.showFor()">
                    <a ui-sref="app.courier-turnovers">Courier turnovers</a>
                </li>
                <li ng-show="nav.showFor('courier')">
                    <a ui-sref="app.courier-orders">Courier</a>
                </li>
                <li ng-show="nav.showFor()">
                    <a ui-sref="app.user">Users</a>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav>